//Estilos para la vista de dispositivos móviles, es decir, width<375px

nav{
  margin-top: 50px;
  margin-bottom:50px;
  position: relative;
  z-index: 2;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
body{
  padding: 0px 5% 0px 5%;
  z-index: 0;
  background: var(--White-light-theme);
  padding-bottom: 50px;
}
//button switch utilizado para intercalar entre tema normal y tema oscuro
.button-switch-label{
  display: inline-block;
  width: 55px;
  height: 30px;
  background: linear-gradient(var(--Light-toggle-button));
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}

input:checked~ .button-switch-label{
  background: linear-gradient(var(--Dark-toggle-button));
}

.button-switch-label::after{
  position: absolute;
  content: '';
  width: 22px;
  height: 22px;
  background: var(--button-circle);
  border-radius: 100px;
  top: 4px;
}

input:checked~ .button-switch-label::after{
  left: 4px;
}

input{
  display: none;
}

//square shadow top body -- Utilizado para dar efecto de sombra en la parte superior de la página

.help-square{

  width: 100%;
  height: 300px;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: var(--Very-Pale-Blue);
  z-index: 1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

hr{
  margin-top: 30px;
  margin-bottom: 20px;
}


.title{
  color: var(--Very-Dark-Blue);
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 10px;
}

.text {
  color: var(--Dark-Grayish-Blue);
  font-weight: 700;
}

.title-light{
  color: var(--Very-Dark-Blue);
}

.subtitle-light{
  color:var(--Dark-Grayish-Blue);
}

.mode{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
}

.big-squares-container{
  text-align: center;
  z-index: 4;

}

//big squares
.big-square{

  background: var(--Light-Grayish-Blue);
  margin-top: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  max-width: 700px;
  position: relative;
  z-index: 2;


  .big-square-name-socialred{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
  .big-square-name{
    text-align: center;
    color: var(--Dark-Grayish-Blue);
    font-weight: 700;
    font-size: 14px;
  }
}

.big-square-amount{
  font-size: 46px;
  font-weight: 900;
  margin-top: 10px;
}
.big-square-type{
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 5px;
  padding: 5px 0px 20px 0px;
  color: var(--Dark-Grayish-Blue);

}
.big-square-variation{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;

}

//border
margin-left: auto;
margin-right: auto;
padding: 20px 0px 20px 0px;
}


//section-2


.subtitle{
  color: var(--Dark-Grayish-Blue);
  font-size: 24px;
  font-weight: 800;
  margin: 30px 0px 30px 0px;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;

}

.small-squares-container{
  text-align: center;
}

.small-square{
  background: var(--Light-Grayish-Blue);
  margin-top: 10px;
  padding: 10px 15px 10px 15px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;

  .row-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;



    .small-square-details{
      font-weight: 700;
      margin-top: 20px;
    }
  }

  .row-2{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;

    .small-square-amount{
      font-weight: 900;
      font-size: 30px;
    }

    .small-square-variation{
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 800;
    }
  }

}

//Estilos para vista de computador, es decir width>1440px
@media screen and (min-width: 1440px){

body{
  padding: 0px 8% 0px 8%;
}

hr{
  display: none;
}
  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;

    .presentation{
      display: flex;
      flex-direction: column;
    }

    .title{
      font-size: 30px;
    }
    .text{
      font-size: 18px;
    }

    .mode{
      gap: 10px;
    }
  }

  .big-squares-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .big-square{
    width: 270px;
    margin: 0px 10px 0px 10px;

    .big-square-name-socialred{
      padding: 15px 0px 15px 0px;
    }

    .big-square-amount{
      font-size: 50px;
    }

    .big-square-variation{
      padding: 10px 0px 10px 0px;
    }
  }

  .subtitle{
    margin: 40px 0px 10px 0px;
  }



  .small-square{
    border-radius: 10px;
    width: 270px;
    margin: 15px 15px 15px 15px;

    .row-2{
      padding: 10px 0px 10px 0px;

      .small-square-amount{
        font-size: 36px;
      }
    }



  }

  .small-squares-container{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;


  }

}



// estilos para modo oscuro, los cuales serán utilizados por métodos para ser aplicados a las diferentes etiquetas de html por medio de typescript

.dark-top-body{
  background: var(--Very-Dark-Blue-top);
}

.dark-body{
  background: var(--Very-Dark-Blue);
}

.dark-big-square{
  background: var(--Dark-Desaturated-Blue);
}

.dark-text-2{
  color:var(--Desaturated-Blue);
}
.dark-text-1{
  color:var(--White-dark-theme);
}

.dark-small-square{
  background: var(--Dark-Desaturated-Blue);
}

.light-big-square{
  background: var(--Light-Grayish-Blue);
}

.light-small-square{
  background: var(--Light-Grayish-Blue);
}

//effects -- Efectos hover que son aplicados a las diferentes figuras de la página

.dark-big-square:hover{
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.15);
}

.light-big-square:hover{
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.15);
}

.dark-small-square:hover{
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.15);
}

.light-small-square:hover{
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.15);
}
