<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body id="body">

  <nav>
    <div class="presentation">
      <div class="title text-1">Social Media Dashboard</div>
      <div class="text text-2">Total Followers: {{totalFollowers | numberFormat}}</div>
    </div>
    <hr>
    <div class="mode">
      <div class="text text-2">Dark Mode</div>
      <div class="button-switch-container">
        <input type="checkbox" id="button-switch">
        <label (click)="darkModeActive()" for="button-switch" class="button-switch-label"></label>
      </div>

    </div>
  </nav>
  <section class="big-squares-container">
    <div class="help-square" id="help-square"></div>
    <div *ngFor="let square of bigSquare">
     <div class="big-square light-big-square" id="big-square" style="border-image: linear-gradient(90deg, {{square.color}}); border-width:6px 0px 0px 0px; border-style:solid; border-image-slice:1">
      <div class="big-square-name-socialred">
        <img class="big-square-socialred" [src]="square.icon" alt="">
        <div class="big-square-name subtitle-light text-2">{{square.name}}</div>
      </div>
      <div class="big-square-amount title-light text-1">{{square.amount | shortenNumber}}</div>
      <div class="big-square-type subtitle-light text-2">{{square.type}}</div>
      <div class="big-square-variation text-2" style="color:{{square.indicator}} ;"><img [src]="square.symbol" alt="">{{square.variation}} Today</div>
     </div>
    </div>
  </section>

  <div class="subtitle text-1">Overview - Today</div>
  <section class="small-squares-container">
      <div *ngFor="let square of smallSquare">
        <div class="small-square light-small-square">
          <div class="row-1">
            <div class="small-square-details subtitle-light text-2">{{square.details}}</div>
            <img class="small-square-socialred" [src]="square.icon" alt="">
          </div>
          <div class="row-2">
            <div class="small-square-amount title-light text-1">{{square.amount | shortenNumber}}</div>
            <div class="small-square-variation" style="color: {{square.indicator}};"><img [src]="square.symbol" alt="">{{square.variation}}%</div>
          </div>
        </div>
      </div>
  </section>
</body>
</html>
