<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav>
    <div class="presentation">
      <div class="title">Social Media Dashboard</div>
      <div class="text">Total Followers: 23,004</div>
    </div>
    <hr>
    <div class="mode">
      <div class="text">Dark Mode</div>
      <button>mode</button>
    </div>
  </nav>
  <section class="big-squares-container">
    <div class="help-square"></div>
    <div *ngFor="let square of bigSquare">
     <div class="big-square" style="border-image: linear-gradient(90deg, {{square.color}}); border-width:6px 0px 0px 0px; border-style:solid; border-image-slice:1">
      <div class="big-square-name-socialred">
        <img class="big-square-socialred" [src]="square.icon" alt="">
        <div class="big-square-name">{{square.name}}</div>
      </div>
      <div class="big-square-amount">{{square.amount | shortenNumber}}</div>
      <div class="big-square-type">{{square.type}}</div>
      <div class="big-square-variation" style="color:{{square.indicator}} ;"><img [src]="square.symbol" alt="">{{square.variation}} Today</div>
     </div>
    </div>
  </section>

  <div class="subtitle">Overview - Today</div>
  <section class="small-squares-container">
      <div *ngFor="let square of smallSquare">
        <div class="small-square">
          <div class="row-1">
            <div class="small-square-details">{{square.details}}</div>
            <img class="small-square-socialred" [src]="square.icon" alt="">
          </div>
          <div class="row-2">
            <div class="small-square-amount">{{square.amount | shortenNumber}}</div>
            <div class="small-square-variation" style="color: {{square.indicator}};"><img [src]="square.symbol" alt="">{{square.variation}}%</div>
          </div>
        </div>
      </div>
  </section>
</body>
</html>
